


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media print {
  /* Ensure SVGs are visible */
  svg {
    display: inline-block !important;
    visibility: visible !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply text-black; /* Apply any Tailwind color class */
  }
}
@media print {
  /* Ensure SVGs are visible */
  svg {
    display: inline-block !important;
    visibility: visible !important;
  }
 
  .no-print{
    display: none;
  }
  .print-only{
    width: 100%;
    height: 100%;
  }
  .iconStyles{
   
  }

}